@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Jolly+Lodger&display=swap');
*{
    margin: 0;
    padding: 30;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    font-family:'Grape Nuts', cursive;

}
div,section,span,ul,li,a,header{
    box-sizing: border-box;
}
.bagulino{
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10 40px;
    position: fixed;
    z-index: 1;
}
#cardapio li{
    list-style: none;
    display :inline-block;
    margin: 20px;
}
#cardapio li a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    text-decoration: none;
    color: rgb(209, 207, 188);
    text-shadow: 0px 0px 10px rgb(209, 207, 188);
}
section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}
#chapuleta{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    background: linear-gradient( 180deg, #677381 50%, #4B4A54);
    
}
#precos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    background: linear-gradient(180deg, #4B4A54 50%, #2A272A);
}
#ali{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background: linear-gradient(180deg, #2A272A 50%, #000000);
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imagem{
    width: 90%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


    