@import url(reset.css);
/*Exportação de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    font-family:'Grape Nuts', cursive;
    background-color: rgb(255, 255, 255);
    height: 1%;
}
div,section,span,ul,li,a,header{
    box-sizing: border-box;
}
.bagulino{
    font-size: 2em;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10 2em;
    position: fixed;
    z-index: 1;
    background: linear-gradient(to top, #00000000,#000000bb);
}
#cardapio li{
    list-style: none;
    display :inline-block;
    margin: 2vh;
}
#cardapio li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(102, 7, 11);
    text-shadow: 0px 0px 10px rgb(209, 207, 188);
}
section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}
#home{
    font-family: 'Koulen', cursive;
    font-size: 350%;
    background: linear-gradient(#ffffff,#ffffff17);
}
#precos{
    background: linear-gradient(#ffffffc9,#fffdfd);

}
#ali{
    background: #ffffff
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imagem{
    width: 90%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.parallax{
    /* Coloca a imagem a ser usada como background */
    background-image: url("Image/balenciaga.png");
     
    /* Define uma altura para a visão que o usuário terá da imagem */
    min-height: 16em;
    min-width: auto;
    /* Define o background como fixo e posiciona a imagem */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
