@import url(reset.css);
/*Exportação de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    display: flex;
    font-family:'Grape Nuts', cursive;
    background-color: rgb(255, 255, 255);
    height: 1%;
}
html{
    scroll-behavior: smooth;
}
.bagulino{
    font-size: 2em;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10 2em;
    position: fixed;
    z-index: 1;
    background: linear-gradient(to top, #00000000,#000000bb);
}
#cardapio li{
    list-style: none;
    display :inline-block;
    margin: 2vh;
}
#cardapio li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(102, 7, 11);
    text-shadow: 0% 0% 10% rgb(209, 207, 188);
}
section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}
#home{
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 350%;
    background: linear-gradient(#ffffff,#ffffff17);
}
#precos{
    background: linear-gradient(#ffffffc9,#fffdfd);

}
#temporario{
    background: #ffffff
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imagem{
    width: 90%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nominho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.parallax {
    /* Coloca a imagem a ser usada como background */  
    background: url(Image/balenciaga.png);  
    filter:  opacity(50%);

    /* Define uma altura para a visão que o usuário terá da imagem */
    min-height: 16em;
    min-width: auto;

    /* Define o background como fixo e posiciona a imagem */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.labonin{
    filter: blur(4%);
}
#bt_cardapio{
	display: none;
	}
label[for='bt_cardapio']{
	padding:5px;
	background-color:#222;
	color:#fff;
	font-family:'Arial';
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
	}	
label[for='bt_menu']:hover{
	background-color:#f4f4f4;
	color:#aaa;
	}
@media (max-width: 800px) {
#cardapio{
	margin-left:-100%;
	transition:all .4s;
	}
label[for='bt_cardapio']{
	display:block;
	}
#cardapio>ul{
	margin-left:0;
	}
#cardapio{
	margin-top:5px;
	}
#cardapio ul li{
	width:100%;
	float:none;
	}
#cardapio ul li:hover ul{
	height:auto;
	max-height:200px;
	transition:all .4s;
	}
#bt_cardapio:checked ~ .menu{
	margin-left:0;
	}
}
